@page
@model Hospital.Pages.Citas.DetalleModel

@{
    ViewData["Title"] = "Detalle";
}
<div class="container-cita mt-5">
    <h1>Consultar citas</h1>
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Paciente.Usuario.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Paciente.Usuario.Apellido)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Fecha)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Hora)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Especialidad)</th>
                <th>Médico</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Estado)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cita)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Paciente.Usuario.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Paciente.Usuario.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                    <td>@Html.DisplayFor(modelItem => item.Especialidad.Nombre)</td>
                    <td>@($"{item.Medico.Usuario.Nombre} {item.Medico.Usuario.Apellido}")</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado.Nombre)</td>
                    <td class="d-flex justify-content-center">
                        <a asp-page="/Citas/Reagendar" asp-route-id="@item.IdCita" class="btn btn-cita btn-sm me-2">Reagendar</a>
                        @if (item.Estado.IdEstado != 2)
                        {
                            <form method="POST" asp-page-handler="Cancelar">
                                <input type="hidden" name="idCita" value="@item.IdCita"/>
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}