@page
@model Hospital.Pages.Citas.DetalleModel

@{
    ViewData["Title"] = "Detalle";
}
<div class="container-cita mt-5">
<h1>Consultar citas</h1>
<hr/>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cita[0].IdPaciente)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Fecha)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Hora)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Especialidad)</th>
                <th>@Html.DisplayNameFor(model => model.Cita[0].Medico)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cita)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdPaciente)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hora)</td>
                    <td>@Html.DisplayFor(modelItem => item.Especialidad.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Medico.IdMedico)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.IdCita" class="btn btn-cita btn-sm">Reagendar</a>
                        <a asp-page="./Delete" asp-route-id="@item.IdCita" class="btn btn-danger btn-sm">Cancelar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}