@page
@model Hospital.Pages.AdminModel
@{
    ViewData["Title"] = "Panel de Administración";
}

<div class="container-cita mt-5">
    <h2 class="text-center">Administración de Pacientes</h2>
    <hr />

    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
				<th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in Model.Paciente)
            {
                <tr>
                    <td>@paciente.Id</td>
                    <td>@paciente.Usuario.Nombre</td>
                    <td>@paciente.Usuario.Apellido</td>
                    <td>@paciente.Usuario.Telefono</td>
                    <td>@paciente.Usuario.Direccion</td>
                    <td>@paciente.Usuario.Email</td>
                    <td>@paciente.Usuario.Role</td>
                    <td>
                    <a asp-page="/Admin/editPaciente" asp-route-id="@paciente.Id" class="btn btn-cita btn-sm me-2">Editar</a>
                    </td>
                </tr>


            }
        </tbody>
    </table>

</div>
