@page
@model Hospital.Pages.AdminModel
@{
    ViewData["Title"] = "Panel de Administración";
}

<div class="container-cita mt-5">
    <h2 class="text-center">Administración de Usuarios</h2>
    <hr />

    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
				<th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nombre</td>
                    <td>@user.Apellido</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>
                    <a asp-page="/Admin/edit" asp-route-id="@user.Id" class="btn btn-cita btn-sm me-2">Editar</a>
                    </td>
                </tr>


            }
        </tbody>
    </table>

</div>
